web/wsdls/BaseWS.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns="urn:hellowsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="urn:hellowsdl">
    
    <types>
        <xsd:schema targetNamespace="urn:hellowsdl">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
        </xsd:schema>
    </types>

    <message name="baseRequest">
        <part name="credentiales" type="xsd:string"/>
    </message>

    <message name="baseResponse">
        <part name="return" type="xsd:string"/>
    </message>


    <message name="heartbeatRequest">
        <part name="credentiales" type="xsd:string"/>
    </message>

    <message name="heartbeatResponse">
        <part name="return" type="xsd:string"/>
    </message>


    <message name="connectionRequest">
        <part name="credentiales" type="xsd:string"/>
    </message>

    <message name="connectionResponse">
        <part name="return" type="xsd:string"/>
    </message>


    <message name="getBalanceRequest">
        <part name="idclient" type="xsd:string"/>
        <part name="digest" type="xsd:string"/>
    </message>

    <message name="getBalanceResponse">
        <part name="return" type="xsd:string"/>
    </message>



    <portType name="helloPortType">
        <operation name="connection">
            <documentation>Connection</documentation>
            <input message="tns:connectionRequest"/>
            <output message="tns:connectionResponse"/>
        </operation>
        <operation name="heartbeat">
            <documentation>HeartBeat</documentation>
            <input message="tns:heartbeatRequest"/>
            <output message="tns:heartbeatResponse"/>
        </operation>
        <operation name="getBalance">
            <documentation>Get Balance</documentation>
            <input message="tns:getBalanceRequest"/>
            <output message="tns:getBalanceResponse"/>
        </operation>
    </portType>

    <binding name="helloBinding" type="tns:helloPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="connection">
            <soap:operation soapAction="urn:hellowsdl#connection" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>


        <operation name="heartbeat">
            <soap:operation soapAction="urn:hellowsdl#heartbeat" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>

        <operation name="getBalance">
            <soap:operation soapAction="urn:hellowsdl#getBalance" style="rpc"/>

            <input>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>

            <output>
                <soap:body use="encoded" namespace="urn:hellowsdl"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>



    </binding>

    <service name="hellowsdl">
        <port name="helloPortType" binding="tns:helloBinding">
            <soap:address location="http://51.38.234.197/zuuluAPIBaseMS/web/app_dev.php"/>
        </port>
    </service>
    
</definitions>
